#newWreckInputs {
	border: solid;
    border-color: black;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.wreckInput {
	margin: 10px;
	display: flex;
    justify-content: space-between;
    color: #144c9e;
    font-weight: bold;
}

.wreckVal {
	padding: 10px;
}