#wreckNav {
	list-style-type: none;
	margin-top: -5px;
    padding: 10px;
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
    display: flex;
    justify-content: space-around;
}

.navItem{
	color: #144c9e;
	text-decoration: none;
}

#wreckStart {
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 60%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#wreckOptions {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}

.wreckOp {
	border: solid black 2px;
	text-decoration: none;
	background-color: #144c9e;
	border-radius: 5px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin: 5px;
	width: 100px;
}
