#logRegContain{

	background-color: #144c9e;
	border-style: solid;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	height: 110px;
	display: flex;
	flex-direction: column;
}

#TabContain {
	margin-top: 75px;
	display: flex;
	flex-direction: row-reverse;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

#LogTab {
	background-color: white;
	border-color: black;
	border-style: solid;
	border-size: 2px;
	color: #144c9e;
	padding: 5px;
	font-size: 25px;
	border-radius: 5px;
	margin-bottom: 5px;
}
#LogTab:nth-child(odd){
	margin-left: 5px;
}

#RegTab:nth-child(odd){
	margin-left: 5px;
}

#RegTab {
	background-color: #144c9e;
	border-color: black;
	border-style: solid;
	border-size: 2px;
	color: white;
	padding: 5px;
	font-size: 25px;
	border-radius: 5px;
	margin-bottom: 5px;
}

#RegTab:nth-child(odd){
	margin-left: 5px;
}

#inpUser {
	border-radius: 3px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#inpPass {
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 50%;
}

#logBtn {
	background-color: white;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 25%;
	height: 20px;
	border-radius: 5px;
}